prefer-no-csd

spawn-at-startup "swaybg" "-o" "*" "-m" "fill" "-i" "/home/arch/media/images/astronaut_wide_desktop.png"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "waybar"
spawn-at-startup "swayidle" "-w"

screenshot-path "~/media/images/screenshots/screenshot_%Y-%m-%d %H-%M-%S.png"

environment {
    DISPLAY ":0"
}

debug {
    render-drm-device "/dev/dri/card1"
}

input {
    keyboard {
        xkb {
            layout "us"
            variant "colemak_dh"
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }
}

output "HDMI-A-1" {
    mode "3440x1440@100.00"

    position x=0 y=0
    
    focus-at-startup

    scale 1
}

output "eDP-2" {
    mode "1920x1200@165.000"

    position x=3440 y=0

    focus-at-startup
}

switch-events {
    lid-close { spawn "swaylock";}
}

cursor {
    hide-after-inactive-ms 3000
}

layout {
    background-color "#0b0909"

    gaps 16

    center-focused-column "never"
    always-center-single-column

    empty-workspace-above-first

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    preset-window-heights {
        proportion 0.5
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 1

        active-color "#ebebeb"
        inactive-color "#0b0909"
    }

    border {
        width 1

        active-color "#0b0909"
    }
}

overview {
    backdrop-color "#0b0909"
}

hotkey-overlay {
    skip-at-startup
}

clipboard {
    disable-primary
}

// Base rule
window-rule {
    draw-border-with-background false

    geometry-corner-radius 4
    clip-to-geometry true
}

// Base floating rule
window-rule {
    match app-id="^org.pulseaudio.pavucontrol$"
    match app-id="^blueman-manager$"

    open-floating true

    default-window-height { proportion 0.75; }
    default-column-width { proportion 0.25; }
}

// Scriptor rule
window-rule {
    match app-id="kitty" title="scriptor"

    open-floating true
    open-focused false

    default-window-height { proportion 0.1; }
    default-column-width { proportion 0.2; }
    default-floating-position x=20 y=20 relative-to="bottom-right"

    focus-ring {
        off
    }

    border {
        active-color "#d33d33"
        inactive-color "#d33d33"
        urgent-color "#d33d33"
    }
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+U { spawn-sh "kitty +kitten unicode_input | wtype"; }

    Mod+Return repeat=false hotkey-overlay-title="Open Terminal: kitty" { spawn "kitty"; } 
    Mod+E repeat=false hotkey-overlay-title="Run Application: wofi" { spawn "wofi" "-S" "drun" "-I" "-W" "30%" "-H" "30%"; }
    Mod+S repeat=false hotkey-overlay-title="Lock Screen: swaylock" { spawn "swaylock"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "1%+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "1%-"; }
    XF86AudioMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    XF86KbdBrightnessUp allow-when-locked=true { spawn "asusctl" "-n"; }
    XF86KbdBrightnessDown allow-when-locked=true { spawn "asusctl" "-p"; }

    Mod+O repeat=false hotkey-overlay-title="Toggle Overview" { toggle-overview; }

    Mod+Q repeat=false hotkey-overlay-title="Close Window" { close-window; }

    Mod+H { focus-column-left; }
    Mod+J { focus-window-or-workspace-down; }
    Mod+K { focus-window-or-workspace-up; }
    Mod+L { focus-column-right; }

    Mod+Ctrl+H { move-column-left; }
    Mod+Ctrl+J { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+K { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+L { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End { focus-column-last; }

    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End { move-column-to-last; }

    Mod+Shift+H { focus-monitor-left; }
    Mod+Shift+J { focus-monitor-down; }
    Mod+Shift+K { focus-monitor-up; }
    Mod+Shift+L { focus-monitor-right; }

    Mod+Shift+Ctrl+H { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L{ move-column-to-monitor-right; }

    Mod+Shift+D { move-workspace-down; }
    Mod+Shift+U { move-workspace-up; }

    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight { focus-column-right; }
    Mod+WheelScrollLeft { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft { move-column-left; }

    Mod+Shift+WheelScrollDown { focus-column-right; }
    Mod+Shift+WheelScrollUp { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp { move-column-left; }

    Mod+R repeat=false hotkey-overlay-title="Resize Window Width" { switch-preset-column-width; }
    Mod+Shift+R repeat=false hotkey-overlay-title="Resize Window Height" { switch-preset-window-height; }
    Mod+Ctrl+R repeat=false hotkey-overlay-title="Reset Window Height" { reset-window-height; }
    Mod+F repeat=false hotkey-overlay-title="Maximize Window" { maximize-column; }
    Mod+Shift+F repeat=false hotkey-overlay-title="Toggle Fullscreen" { fullscreen-window; }

    Mod+C repeat=false hotkey-overlay-title="Center Window" { center-column; }

    Mod+V repeat=false hotkey-overlay-title="Toggle Floating Window" { toggle-window-floating; }
    Mod+Shift+V repeat=false hotkey-overlay-title="Switch Focus Mode"{ switch-focus-between-floating-and-tiling; }

    Print repeat=false hotkey-overlay-title="Screenshot" { screenshot; }
    Ctrl+Print repeat=false hotkey-overlay-title="Screenshot (Screen)" { screenshot-screen; }
    Alt+Print repeat=false hotkey-overlay-title="Screenshot (Window)" { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E hotkey-overlay-title="Quit Niri" { quit; }
}
